# {{ ansible_managed }}

[Unit]
Description=MongoDB Compass Service
After=network.target mongod.target
Wants=network.target mongod.target

[Service]
ExecStart=/usr/bin/mongodb-compass
Restart=always
RestartSec=20
TimeoutSec=300
User={{ mongodb_owner }}
Group={{ mongodb_group }}

[Install]
WantedBy=multi-user.target
